{% extends 'base_ar.html' %}

{% load static %}

{% block extra_css %}
  <style type="text/css">
    #target1 {
      height: 120px;
      width: 120px;
      z-index: -50;
      background-color: #FFF;
    }
  </style>
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block target%}
  <div id="target1" class="target">
    <div>
      <h3>A-Frame</h3>
      <p>A-Frame Sample</p>
      <p class="detail">320px x 200px</p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <a-assets>
    <a-asset-item id="rose-mtl" src="{% static  'model_obj/rose/rose.mtl' %}"></a-asset-item>
    <a-asset-item id="rose-obj" src="{% static  'model_obj/rose/rose.obj' %}"></a-asset-item>
  </a-assets>

  <!-- ④ マーカーを追加 ここから -->
  <a-marker type="pattern" url="{% static 'marker/pattern-marker.patt' %}">
    <a-entity position="0 2.25 -15" size="5" particle-system="preset: rain"></a-entity>
    <a-text value="Happy Mother's Day!!" rotation="-90 0 0" position="0 1.3 0" align="center"></a-text>
    <a-obj-model id="rose" src="#rose-obj" mtl="#rose-mtl" position="0 0 0" scale="0.03 0.03 0.03" rotation="-60 0 0" ></a-obj-model>
  </a-marker>

  <a-marker preset="hiro">
    <!-- ⑤ オブジェクトの追加 -->
    <a-text value="Happy Mother's Day!!" rotation="-90 0 0" position="0 1.3 0" align="center"></a-text>
    <a-plane width="1" height="1" rotation="-90 0 0" material="shader:html; target: #target1"></a-plane>
  </a-marker>
{% endblock %}