{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="ui two column grid">
    <div class="column">
      <div class="ui segment">
        <a href="{% url 'arapp:mom' %}" class="ui xlarge image">
          <img src="{% static 'images/mother_day.jpg' %}">
        </a>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <a href="#" class="ui xlarge image">
          <img src="{% static 'images/coming_soon.jpg' %}">
        </a>
      </div>
    </div>
  </div>
{% endblock %}