<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}{% endblock %}</title>

  {# --- css --- #}
  <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
  <style type="text/css">
    body {
      background-color: #dadada;
    }
  </style>
  {% block extra_css %}{% endblock %}
</head>
<body>
  <div class="ui container">
    {% block content %}{% endblock %}
  </div>
  {# --- js --- #}
  <script src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/semantic.min.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>